PDS_MODE=predictive

PDS_ADDRESS=pds.voximplant.com:3005
PDS_USE_TLS=true

PDS_ACCOUNT_ID=1
PDS_API_KEY=your-api-key
PDS_RULE_ID=1
PDS_QUEUE_ID=1
PDS_APPLICATION_ID=1
PDS_REFERENCE_IP=127.0.0.1
PDS_SESSION_ID=

PDS_AVERAGE_TALK_TIME=80
PDS_SUCCESS_RATE=0.4
PDS_MAXIMUM_ERROR_RATE=0.05
PDS_MINIMUM_BUSY_FACTOR=0.8
PDS_TASK_MULTIPLIER=1
PDS_PREDICTIVE_TYPE=ar_optimized